/* PLEASE BROWSER STOP MESSING WITH ME :C */
html, body{
    margin: 0;
}

.wrapper{
    height: 101%;
}

/* HEADER STUFF */

.index{
    display: block;
}

header{
    background-color: #DA6473;
    border-bottom: solid 2px white;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    z-index: 1000;
    box-shadow: 0px 0px 18px 6px rgba(218,100,115,0.68);
}


.subheader{
    position: sticky;
    top: 10px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
}

.burger_menu{
    height: 50px;
    width: 50px;
    margin: 13px 0 13px 0;
    background-color: #DA6473;
    border-bottom: 2px solid white; 
    border-right: 2px solid white; 
    border-top: 2px solid white;
    border-radius: 0 10px 10px 0; 
    position: absolute;
    left: 0px;
    transition: 0.5s;

}

.a_burger_menu{
    left: 150px;
}

.shopping_cart{
    height: 54px;
    width: 50px;
    position: absolute; 
    right: 0px;
    margin: 13px 0 13px 0;
}

.menu_body{
    background-color: #DA6473;
    width: 150px;
    position: relative;
    border-bottom: 2px solid white; 
    border-top: 2px solid white;
    bottom: 2px;
    left: -150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    border-radius: 0 0 10px 0; 
}

.border_filler{
    background-color: #DA6473;
    border-right: 2px solid white;
    grid-row-start: 2;
    border-radius: 0 0 10px 0;
}

.first_page_img{
    background-image: url(../psd/Home_mobile@375x250.jpg);
    height: 250px;
    position: relative;
    top: -80px;
    width: 100%;
    z-index: -10;
    box-shadow: 0px 11px 50px 5px rgba(160,155,41,0.5);
}

.subheader_for_pay_site{
    height: 80px;
    z-index: 1000;
    margin-top: 10px;
}

/* ICONS, LINKS AND TEXT */

.br_for_text{
    display: block;
    margin-top: 3px;
    content: "";
}


.shopping_cart_link{
    text-decoration: none;
}

.image_text{
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    top: 100px;
    font-size: 3.5em;
    text-shadow: -5px 7px 4px rgba(255, 255, 255, 1);
    font-style: italic;
}

.menu_text{
    color: white;
    font-size: 2em;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid white;
    height: 60px;
}

.weakest_link{
    border-bottom: none !important;
}

.Name{
    color: white;
    margin: 0;
    grid-column-start: 2;
    position: relative;
    top: 5px; 
    display: flex;
    justify-content: center;
}

.cart{
    color: #DA6473 !important;
    font-size: 3rem !important;
    position: relative;
    left: 3px;
    top: 2px;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, 
    rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, 
    rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, 
    rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, 
    rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, 
    rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, 
    rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.menu{
    right: 7px;
    top: 6px;
    position: absolute;
}

i.icons{
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.section_text{
    font-size: 1.2em;
    color: white;
    position: relative;
    right: 75px;
    bottom: 10px;
}

.socks{
    right: 58px;
}

i.carticons{
    color: white;
    font-size: 2.2rem;
    position: relative;
    left: 75%;
    margin-top: 2px;
}

i.cart_for_product_page{
    font-size: 6rem;
    left: 0;
    margin: auto;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    
}

.price_text{
    color: black;
    font-size: 1em;
    margin: 0;
}

.pexels_link{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
.under_price_text{
    font-size: 1em;
    font-weight: lighter;
    margin: 0;
    color: black;
}

.pay_cart{
    font-size: 4.5em !important;
    float: left;
}

.subheader_text{
    margin: 0;
    font-size: 1.5em;
    float: right;
    right: 15px;
    position: relative;
    top: 50px;
    color: #DA6473;
}

i.chevron{
    position: relative;
    color: white;
    font-size: 3em;
    grid-row-start: 1;
    height: 45px;
    width: 45px;
    margin-top: auto;
    margin-bottom: auto;
}

.pay_up{
    color: white;
    grid-column-start:  2;
    margin: 0;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

i.ath_money{
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy_somethin{
    color: #9F4551;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_add_text{
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    color: white;
}

.product_add_text_a{
    line-height: normal;
    top: 10px;
    position: relative;
}

.price{
    position: relative;
    float: right;
    right: 10px;
}

h2{
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
    margin: 0;
}
p{
    color: white;
    font-size: 1.5em;
    text-align: center;

}

.cred_for_img{
    text-decoration: underline;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: auto 0 auto 0 ;
    display: flex;
    justify-content: center;
}

/* MAIN STUFF */

.products_main{
    height: 100%;
    background-color: antiquewhite;
    margin-top: 15px;
}

main{
    height: 100%;
    width: 90%;
    margin: 0 5% 0 5%;
    position: relative;
}

.about_main{
    background-color: #DA6473;
    height: 100vh;
}

::-webkit-scrollbar { 
    display: none; 
}

#main_page{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}

.first, .section{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #DA6473;
}

.second{
    margin: 10px 0 0 0;
}

.pay_site{
    height: 100vh;
    width: 90%;
    margin: 0 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #DA6473;
}


/* PRODUCT PAGES */

.image_scroll{
    height: 400px;
    margin: 15px 10px 0 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
    box-shadow: 0px 19px 70px -1px rgba(0,0,0,0.26);
}

.image_scrollbar{
    height: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    width: 615px;
}

.img{
    flex: 0 0 auto;
    height: 100%;
    width: 300px;
    margin: 0 5px 0 0;
}

.product_1_info_box{
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    width: 100%;
    background-color: whitesmoke;
}

.text_for_products{
    position: relative;
    width: 100px;
    left: 20px;
    height: 140px;
    top: 10px;
}
.product_add{
    height: 80px;
    width: 160px;
    border-radius: 10px;
    background-color: #DA6473;
    border: #9F4551 2px solid;
    margin: auto;
}

.product_add_a{
    background-color: #4BA9D3;
    border: #236886 2px solid;
}
/* PRODUCT WINDOWS */

#buy_box{
    flex: 0 0 auto;
    height: 219px;
    width: 148px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px 40px;
    grid-template-areas: 
    "img"
    "cart"
    "price"
    ;
    margin: 0 5px 0 0;
}

.shirt_box:nth-child(1){
    background-image: url(../psd/Product\ 1@148x179.jpg);
}

.shirt_box:nth-child(2){
    background-image: url(../psd/Product\ 2@148x179.jpg);
}

.shirt_box:nth-child(3){
    background-image: url(../psd/Product\ 3@148x179.jpg);
}

.shirt_box:nth-child(4){
    background-image: url(../psd/Product\ 4@148x179.jpg);
}

.shirt_box:nth-child(5){
    background-image: url(../psd/Product\ 5@148x179.jpg);
}

.shirt_box:nth-child(6){
    background-image: url(../psd/Product\ 6@148x179.jpg);
}

.shirt_box:nth-child(6){
    background-image: url(../psd/Product\ 6@148x179.jpg);
}

.shoe_box:nth-child(1){
    background-image: url(../psd/Shoe\ 1@148x179.jpg)
}

.shoe_box:nth-child(2){
    background-image: url(../psd/Shoe\ 2@148x179.jpg)
}

.shoe_box:nth-child(3){
    background-image: url(../psd/Shoe\ 3@148x179.jpg)
}

.shoe_box:nth-child(4){
    background-image: url(../psd/Shoe\ 4@148x179.jpg)
}




.cart_box{
    background-color: rgba(255, 255, 255, 0.4);
    height: 40px;
    grid-area: cart;
    position: relative;

}

.price_box{
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: price;
}



/* FOOTER STUFF */

footer{
    background-color: #DA6473;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}