html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header{
    background-color: #DA6473;
    border-bottom: solid 2px #9F4551;
    height: 50px;
}

h1{
    color: white;
    margin: 0 0 0 20px;
}

.subheader{
    display: flex;
    position: sticky;
}

.burger_menu{
    height: 40px;
    background-color: #DA6473;
    border-bottom: 2px solid #9F4551; 
    border-right: 2px solid #9F4551; 
    border-top: 2px solid #9F4551; 
    width: 45px;
    margin: 5px 0 5px 0;
    border-radius: 0 10px 10px 0;
}

.shopping_cart{
    height: 40px;
    width: 40px;
    position: absolute; 
    right: 0px;
    margin-top: 5px;
}

i.icons{
    color: white;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    color: #DA6473 !important;
    font-size: 3rem !important;
}

main{
    height: 100vh;
    width: 98%;
    margin-left: 1%;
    background-color: hotpink;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr;
}

.first_page_img{
    background-color: blue;
}

.first_page_main{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 148px 148px;
    grid-template-rows: 179px 179px 179px;
    justify-content: center;
    align-items: center;
    grid-row-gap: 13px;
    grid-column-gap: 20px;
}

.buy_box{
    background-color: brown;
    height: 100%;
}