/* PLEASE BROWSER STOP MESSING WITH ME :C */
html, body{
    margin: 0;
}

/* HEADER STUFF */

header{
    background-color: #DA6473;
    border-bottom: solid 2px #9F4551;
    height: 50px;
}


.subheader{
    display: flex;
    position: sticky;
    top: 5px;
}

.burger_menu{
    height: 40px;
    background-color: #DA6473;
    border-bottom: 2px solid #9F4551; 
    border-right: 2px solid #9F4551; 
    border-top: 2px solid #9F4551; 
    width: 45px;
    margin: 5px 0 5px 0;
    border-radius: 0 10px 10px 0;
}

.shopping_cart{
    height: 40px;
    width: 40px;
    position: absolute; 
    right: 0px;
    margin-top: 5px;
}


/* ICONS AND TEXT */

.Name{
    color: white;
    margin: 0 0 0 20px;
}

.cart{
    color: #DA6473 !important;
    font-size: 3rem !important;
}

i.icons{
    color: white;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.carticons{
    color: white;
    font-size: 2.2rem;
    position: relative;
    left: 75%;
}

.price_text{
    color: black;
    font-size: 1em;
    margin: 0;
}

.under_price_text{
    font-size: 1em;
    font-weight: lighter;
    margin: 0;
}

/* MAIN STUFF */

main{
    height: 100vh;
    width: 98%;
    margin-left: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr;
}

.first_page_main{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 148px 148px;
    grid-template-rows: 219px 219px 219px;
    justify-content: center;
    align-items: center;
    grid-row-gap: 13px;
    grid-column-gap: 20px;
}

.first_page_img{
    background-color: gray;
}

/* PRODUCT WINDOWS */

.buy_box{
    height: 100%;
    background-color: #DA6473;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px 40px;
    grid-template-areas: 
    "img"
    "cart"
    "price"
}

.cart_box{
    background-color: rgba(255, 255, 255, 0.4);
    height: 40px;
    grid-area: cart;
}

.price_box{
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: price;
}